@import url('reset.css');
@import url('type.css');

@import url('jqModal.css');

@import url('pages/index.css');
@import url('pages/articles.css');
@import url('pages/gallery.css');
@import url('pages/forum.css');
@import url('pages/comments.css');
@import url('pages/tags.css');

/*
** Layout
******************************************************************************/

body {
	background: #ffffff none;
	min-width: 1200px;
}

.tpl-column-right {
	width: 300px;
	float: right;
}

/* Header
******************************************************************************/

.tpl-header {
	height: 285px;
	position: relative;

	background: transparent url('../images/header-bg.png') 0 0 repeat-x;
}
	.logo a {
		position: absolute;
		top: 55px; left: 265px;
		width:300px; height:100px;

		overflow: hidden; text-indent: -100%;
	}

	.common-navigation {
		position: relative;
		top: 180px;
		width: 880px;
		margin: 0 auto;
		padding-left: 120px;
		overflow: hidden;
	}

	.common-navigation li {
		float: left;

		font-size: 1.571em;
		line-height: 1em;

		margin-right: 40px;
	}

		.common-navigation li a { text-decoration: underline; }

		.common-navigation li a:hover {
			text-decoration: none;
		}


		.common-navigation li a:active {
			outline: none !important;
		}

/* Content
******************************************************************************/

	.tpl-wrap {
		padding: 0 20px;
		overflow: hidden;
	}

		.tpl-content {
			margin: 15px 320px 0 200px;
		}

/*
** Footer
******************************************************************************/

.tpl-footer {
	min-height: 150px;
	margin-top: 60px;
	padding: 30px 150px;

	background: #fcde7d url('../images/footer-bg.gif') 0 0 repeat-x;

	clear: both;
	position: relative;
}

.tpl-footer ul {
	overflow: hidden;
}

	.tpl-footer ul li {
		float: left;
		width: 200px;
		margin-right: 30px;
	}

	.tpl-footer ul ul {
	}

		.tpl-footer ul .title {
			color: #664f1c;
			font-weight: bold;
			border-bottom: 1px solid;
		}

		.tpl-footer ul ul li {
			float: none;
			width: auto;
			margin: 0;
			line-height: 2em;
		}

			.tpl-footer ul ul li a {
				text-decoration: none;
				color: #664f1c;
			}

			.tpl-footer ul ul li a:hover {
				text-decoration: underline;
			}

/* Cornered block ************************************************************/

.corners {
	width: 300px;
	position: relative;
	padding: 12px 0 20px 0;
}
	.corners .t-r {
		position: absolute; top: 0;
		width: 300px; height: 12px;
		z-index: -1;

		background: transparent url('../images/corners-cf.png') 0 0 no-repeat;
	}

	.corners .b-r {
		position: absolute; bottom: 0;
		width: 300px; height: 36px;
		z-index: -1;

		background: transparent url('../images/corners-cf.png') 0 bottom no-repeat;
	}

	.corners .wrap {
		padding: 0 20px;
		background: transparent url('../images/corners-bg.gif') 0 0 repeat-y;
	}


/* Logo and clouds in header/ guy in footer **********************************/

.logo {
	position: absolute;
	top: 0px; left: 0px;
	width: 652px; height: 285px;
	background: transparent url('../images/logo.png') 0 0 no-repeat;
}

.guy {
	position: absolute;
	top: -42px; right: 0;
	width: 220px; height: 252px;

	background: transparent url('../images/guy.png') 0 bottom no-repeat;
}

.clear { clear: both; }

/* Pages ******************************************************************/

div .pages {
	margin-left: 40px;
}

.pages {
	font-size: 0.92em;
}

	.pages a {
		margin-left: 7px;
	}

	.pages span {
		margin-left: 7px;
		padding-left: 2px;
		padding-right: 2px;

		background-color: #e1e1e1;
		color: #18537c;

		font-size: 2em;
	}

/* Pages ******************************************************************/
.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
	position: absolute;
	bottom: 22px;
	height: 43px;
	background: transparent url('../images/clouds.png') no-repeat;
}

.cloud-1 {
	left: 0;
	width: 39px;
	background-position: 0 0;
}

.cloud-2 {
	left: 25%;
	width: 94px;
	background-position: -39px 0;
}

.cloud-3 {
	left: 50%;
	width: 121px;
	background-position: -133px 0;
}

.cloud-4 {
	left: 75%;
	width: 139px;
	background-position: -255px 0;
}

.cloud-5 {
	position: absolute;
	top: 0; left: 0;
	width: 110px; height: 43px;
	background: transparent url('../images/clouds.png') -394px 0 no-repeat;
}

/* Banners ****************************************************************/

.banner-160x600,
.banner-468x120,
.banner-240x120 {
	margin: 20px;

/*
	Вот это убрать можно: */

	border: 1px solid #999999;
	background: transparent url('op99.png');

/*
	а можно и оставить, по идее не должно быть видно */
}

.banner-160x600 {
	float: left;
	margin-top: 0;
	width: 160px; height: 600px;
}

.banner-468x120 {
	position: absolute;
	top: 40px; right: 160px;
	margin: 0;
	width: 468px; height: 120px;
}

.banner-240x120 {
	width: 240px; height: 120px;
}

/* User bar ****************************************************************/

.tpl-login-bar {
	position: absolute;
	top: 0; right: 0;
	width: 140px; padding: 82px 12px 0 0;
	text-align: right;
	font-size: .9em;

	background: transparent url('../images/cloud-corner.gif') 0 0 no-repeat;
}

.tpl-login-bar li {
	line-height: 24px;
}

.tpl-login-bar li a {
	margin-right: 28px;
}

.tpl-login-bar-profile img {
	vertical-align: middle;
	width: 24px; height: 24px;
	margin-right: -28px;
}

.tpl-login-bar-profile img {
	background: url('../images/avatar.gif') no-repeat;
}

/* Misc styles *************************************************************/
.tpl-vertlist li { float: left; margin-right: 10px; }

/* Table styles ************************************************************/
td { padding: 5px; padding-left: 10px; }
thead tr td { font-weight: bold; text-align: center; }
