/*	16px = 1em
	14px = .875em
	12px = .75em
	10px = .625em
	 8px = .5em*/

body {
	font: normal .775em/1.42em Tahoma, Verdana, sans-serif;
	color: #515151;
}

p {
	margin-bottom: 1em;
}

h1 {
	padding-bottom: 15px;
	font-size: 1.935em;
	color: #18537c;
	margin-bottom: .75em;
}

h2 {
	padding-bottom: 10px;
	font-size: 1.340em;
	color: #18537c;
}

h3 {
	padding-bottom: 10px;
	font-size: 1.240em;
	color: #18537c;
}

a {
	color: #aa6c8b;
	text-decoration: underline;
}
		
a:hover {
	color: #7b1748;
	text-decoration: none;		
}

.date, .comment {
	color: #b2b2b2;
	font-size: .727em;
}

.section-link {
	color: #496b82;
	font: normal .875em Verdana;
}

.selected-link {
	font-weight: bold;
	text-decoration: none;
}
