{% extends 'base.html' %}

{% load bulletins %}
{% load blocks %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ media_url }}/css/pages/profile.css" />	
{% endblock %}

{% block column_right %}
	<div class="tpl-board corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Объявления пользователей</h2>
			{% last_bulletins 5 %}
	
			<a class="section-link" href="/bulletins">Все объявления →</a>
		</div>
	</div>
{% endblock %}
	
{% block content %}
	<form action="" method="post">
		<h1 style="padding-bottom: 0px;">Скажите нам кто вы?</h1>
		
		{% if form.errors %}
			<h2 class="error">Неверные реквизиты</h2>
		{% endif %}
		
		<div>
			<label for="email">Ваш <b>логин</b>, использованный при регистрации</label>
			{{ form.username }}
		</div>
		
		<div>
			<label for="phone"><b>Пароль</b>(мы высылали вам на email)</label>
			{{ form.password }}
		</div>
		
		<input type="submit" value="Войти" />
		<a href="{% url recover %}" style="margin-left: 10px;">забыли?</a>
	</form>
	
	<div style="margin-top: 40px;">&nbsp;</div>
{% endblock %}

