{% extends 'base.html' %}

{% load blocks %}

{% block column_right %}
	<div class="tpl-article-categories corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			<h2>Рекламодателю</h2>
			<ul>
				<li><a href="{% url magazine-volumes %}">Выпуски</a></li>
				<li><a href="{% url magazine-price %}">Услуги и цены</a></li>
				<li><a href="{% url magazine-oreol %}">География распространения</a></li>
				<li><br/></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="tpl-article">
		<h1 style="margin-bottom: 0px;">Семейный журнал "Мамочка"</h1>
		<h2>{% block subtitle %}{% endblock %}</h2>
		
		{% block text %}{% endblock %}
	</div>
{% endblock %}
