{% extends 'magazine/base.html' %}

{% block title %}Страница журнала деточки: услуги и цены{% endblock %}
{% block subtitle %}{% endblock %}

{% block text %}
	<h2>География распространения</h2><br/>
	
	<span style="font-size: 1.4em;">крупные города ЮЖНОГО ФЕДЕРАЛЬНОГО ОКРУГА</span>
	
	<ul class="tpl-vertlist" style="margin-top: 10px;">
		<li>Ростов-на-Дону</li>
		<li>Аксай</li>
		<li>Батайск</li>
		<li>Шахты</li>
		<li>Азов</li>
		<li>Новочеркасск</li>
		<li>Таганрог</li>
		<li>Краснодар</li>
		<li>Анапа</li>
		<li>Армавир</li>
		<li>Сочи</li>
		<li>Ставрополь</li>
	</ul>
{% endblock %}
