{% extends 'magazine/base.html' %}

{% block title %}Семейный журнал "Мамочка": география распространения{% endblock %}
{% block subtitle %}{% endblock %}

{% block text %}
	<h2>География распространения</h2><br/>
	
	<span style="font-size: 1.4em;">крупные города ЮЖНОГО ФЕДЕРАЛЬНОГО ОКРУГА</span>
	
	<ul class="tpl-vertlist" style="margin-top: 10px;">
		<li>Ростов-на-Дону</li>
		<li>Аксай</li>
		<li>Батайск</li>
		<li>Шахты</li>
		<li>Азов</li>
		<li>Новочеркасск</li>
		<li>Таганрог</li>
		<li>Краснодар</li>
		<li>Анапа</li>
		<li>Армавир</li>
		<li>Сочи</li>
		<li>Ставрополь</li>
	</ul>
	
	<table width="622" border="2" cellspacing="0" style="margin-top: 40px;">
		<tr><td colspan="2"><h2>Ростов-на-Дону</h2></td></tr>
		<tr><td colspan="2"><b>детские поликлинники</b></td></tr>
		
		<tr valign="top">
			<td>Детская городская больница № 1МЛПУЗ, Поликлиническое отделение №1</td>
			<td>пл. Толстого, 17</td>
		</tr>
		
		<tr valign="top">
			<td height="25"><font size="2" face="Times New Roman">Детская городская больница № 1МЛПУЗ, Поликлиническое отделение №2</font></td>
			<td><font size="2" face="Times New Roman">пр. 40-летия Победы, 314</font></td>
		</tr>
		
		<tr valign="top">
			<td height="25"><font size="2" face="Times New Roman">Детская городская больница № 2 МЛПУЗ, Поликлиническое отделение</font></td>
			<td><font size="2" face="Times New Roman">ул. Соколова, 77</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">ГБ № 1 им Н.А. Семашко МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">пр. Ворошиловский, 105</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №1 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Сержантова, 3</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №1 МЛПУЗ, филиал</font></td>
			<td><font size="2" face="Times New Roman">ул. 26-июня, 98\а</font></td>
		</tr>
		
		<tr valign="top">
			<td height="14"><font size="2" face="Times New Roman">Детская городская поликлиника №1 МЛПУЗ, филиал</font></td>
			<td><font size="2" face="Times New Roman">Ул. Туполева , 9\2</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника № 6 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Ларина, 6 </font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №17 </font></td>
			<td><font size="2" face="Times New Roman">пр. Космонавтов, 5\5</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №17 </font></td>
			<td><font size="2" face="Times New Roman">пр. Космонавтов, 8\2</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №17 </font></td>
			<td><font size="2" face="Times New Roman">ул. Добровольского, 20\2</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №17 </font></td>
			<td><font size="2" face="Times New Roman">пр. Космонавтов, 10\2</font></td>
		</tr>

		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника № 18 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Медицинская, 12</font></td>
		</tr>
		
		<tr valign="top">
			<td height="13"><font size="2" face="Times New Roman">Детская городская поликлиника № 18 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Таганрогская, 116\4</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №45 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">пр. Коммунистический, 39\1</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детская городская поликлиника №45 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Зорге, 72\1</font></td>
		</tr>
		
		<tr valign="top">
			<td height="11"><font size="2" face="Times New Roman">Областная детская больница МУЗ, поликлиника</font></td>
			<td><font size="2" face="Times New Roman">ул. Благодатная, 168</font> <p><font size="2" face="Times New Roman">(ул. 339-й Стрелковой дивизии)</font></p></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		
		<tr><td COLSPAN="2"><b>женские консультации</b></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">ГБ № 1 им Н.А. Семашко МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">пр. Ворошиловский, 105</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 5</font></td>
			<td><font size="2" face="Times New Roman">ул. Ст.Разина,3</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская больница № 20</font></td>
			<td><font size="2" face="Times New Roman">ул. Жмайлова, 21</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Поликлиника КБ №1 ГУ &quot;ЮОМЦ МЗ РФ</font></td>
			<td><font size="2" face="Times New Roman">ул. 1-я линия, 6</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская поликлиника №1 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Сержантова, 3</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская больница № 8</font></td>
			<td><font size="2" face="Times New Roman">ул. Серафимовича, 37</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская поликлиника №12 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Ларина, 6</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Женская Консультация Пролетарского р-на</font></td>
			<td><font size="2" face="Times New Roman">ул. 1-я Майская, 6</font></td>
		</tr>
		
		<tr valign="top">
			<td height="10"><font size="2" face="Times New Roman">Женская Консультация городскОЙ поликлиники № 18 МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. Таганрогская, 116\4</font></td>
		</tr>
		
		<tr valign="top">
			<td height="10"><font size="2" face="Times New Roman">Женская Консультация городской поликлиники </font></td>
			<td><font size="2" face="Times New Roman">ул. Ерёменко, 60\1</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">НИИ акушерства и педиатрии</font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова, 43</font></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>роддома</b></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">ГБ № 1 им Н.А. Семашко МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">пр. Ворошиловский, 105</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 2</font></td>
			<td><font size="2" face="Times New Roman">пл. К. Маркса, 8</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 5 </font></td>
			<td><font size="2" face="Times New Roman">ул. Мадояна, 32</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 5 стар</font></td>
			<td><font size="2" face="Times New Roman">ул. Мадояна, 32</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская больница № 20</font></td>
			<td><font size="2" face="Times New Roman">пр. Коммунистический, 39</font></td>
		</tr>
		
		<tr valign="top">
			<td height="10"><font size="2" face="Times New Roman">Ростовская областная клиническая больница № 2 МУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. 1 Конной Армии, 33</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">НИИ акушерства и педиатрии</font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова, 43</font></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>отделения паталогии беременных</b></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">ГБ № 1 им Н.А. Семашко МЛПУЗ</font></td>
			<td><font size="2" face="Times New Roman">пр. Ворошиловский, 105</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 2</font></td>
			<td><font size="2" face="Times New Roman">пл. К. Маркса, 8</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 5</font></td>
			<td><font size="2" face="Times New Roman">ул. Мадояна, 32</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Родильный Дом № 5 стар</font></td>
			<td><font size="2" face="Times New Roman">ул. Мадояна, 32</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Городская больница № 20</font></td>
			<td><font size="2" face="Times New Roman">пр. Коммунистический, 39</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Ростовская областная клиническая больница № 2 МУЗ</font></td>
			<td><font size="2" face="Times New Roman">ул. 1 Конной Армии, 33</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">НИИ акушерства и педиатрии</font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова, 43</font></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>детские магазины</b></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">«Буратино»</font></td>
			<td><font size="2" face="Times New Roman">ул. Зорге, 15</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">«Облачко» </font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова, 114</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">«Примадонна»</font></td>
			<td><font size="2" face="Times New Roman">пр. Будённовский. 96</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">«Умка»</font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова. 59</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">«Облачко» </font></td>
			<td><font size="2" face="Times New Roman">Таганрогское шоссе ул., 116 &quot;Г&quot;</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Агентство по подбору персонала «Фрекен Бок»</font></td>
			<td><font size="2" face="Times New Roman">20 линия, 4, оф.13</font></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>медицинские центры</b></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Медицинский центр «Наука»</font></td>
			<td><font size="2" face="Times New Roman">Тургеневская, 49</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Обл. центр планирования семьи</font></td>
			<td><font size="2" face="Times New Roman">Московская, 79</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">Детский медицинский центр «Мой малыш»</font></td>
			<td><font size="2" face="Times New Roman">Зоологическая, 30-А </font></td>
		</tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Батайск</h2></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Батайская поликлиника №2&quot;</font></td>
			<td><font size="2" face="Times New Roman">Куйбышева 136</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Батайская центральная <WBR>городская больница&quot; Родильное отделение</font></td>
			<td><font size="2" face="Times New Roman">Куйбышева 136</font></td>
		</tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Шахты</h2></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;ГБСМП им. ВИ Ленина&quot;, родильное отделение</font></td>
			<td><font size="2" face="Times New Roman">Шевченко 153</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Детская поликлиника №2&quot;</font></td>
			<td><font size="2" face="Times New Roman">ул. Татаркина, д 18</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Детская поликлиника №3&quot;</font></td>
			<td><font size="2" face="Times New Roman">ул. Мечникова, д 3</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Городская поликлиника №5&quot;, ЖК и ДП</font></td>
			<td><font size="2" face="Times New Roman">ул. Ворошилова, д 15</font></td>
		</tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Новочеркасск</h2></td></tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Родильный дом&quot;</font></td>
			<td><font size="2" face="Times New Roman">Первомайская 103-1</font></td>
		</tr>
		
		<tr valign="top">
			<td height="12"><font size="2" face="Times New Roman">МУЗ &quot;Детская городская больница&quot;</font></td>
  		<td><font size="2" face="Times New Roman">Первомайская, 99</font></td>
  	</tr>
  	
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Азов</h2></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">МУЗ 
  &quot;Азовский родильный дом&quot;</font></td>
  <td><font size="2" face="Times New Roman">Кагальницкое 
  шоссе 18.</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Таганрог</h2></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Гор.здрав.</font></td>
  <td><font size="2" face="Times New Roman">ул.Греческая,104 </font>
  </td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>детские больницы</b></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская больница </font></td>
  <td><font size="2" face="Times New Roman">ул.Ломакина,57</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>детские поликлиники</b></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника №1 МУЗ</font></td>
  <td><font size="2" face="Times New Roman">ул.Чучева,26</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника <WBR>Педиатрическое 
  отделение №1, филиал</font></td>
  <td><font size="2" face="Times New Roman">ул.Свободы,42</font></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника <WBR>Педиатрическое 
  отделение №2, филиал</font></td>
  <td><font size="2" face="Times New Roman">ул.Яблочкина,8</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника №2 МУЗ</font></td>
  <td><font size="2" face="Times New Roman">ул.Каркасный,2</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника <WBR>Педиатрическое 
  отделение №1, филиал</font></td>
  <td><font size="2" face="Times New Roman">ул.А.Глушко,12</font></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника <WBR>Педиатрическое 
  отделение №2, филиал</font></td>
  <td><font size="2" face="Times New Roman">ул.П.Тольятти,18</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  городская поликлиника <WBR>Педиатрическое 
  отделение №3, филиал</font></td>
  <td><font size="2" face="Times New Roman">ул.Л.Чайконой,45</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  консультация с.Покровское Никлиновского 
  района</font></td>
  <td><font size="2" face="Times New Roman">с.Покровское</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>женские консультации</b></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  Консультация №1</font></td>
  <td><font size="2" face="Times New Roman">ул.Р.Люксембург</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  Консультация №2</font></td>

  <td><font size="2" face="Times New Roman">пер. Итальянский,37</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  Консультация №3</font></td>
  <td><font size="2" face="Times New Roman">ул.П.Тольятти</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  Консультация №4</font></td>
  <td><font size="2" face="Times New Roman">ул.Чучева,24</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  Консультация с.Покровское Никлиновского 
  района</font></td>
  <td><font size="2" face="Times New Roman">с.Покровское</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>роддома</b></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">МУЗ 
  Родильный дом</font></td>
  <td><font size="2" face="Times New Roman">ул.Ленина,153</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">отделение 
  РД, отделение Второго этапа <WBR>выхаживания 
  новорожденных</font></td>

  <td><font size="2" face="Times New Roman">ул.Инструментальная,13</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Родильный 
  Дом с.Покровское Никлиновского района</font></td>
  <td><font size="2" face="Times New Roman">с.Покровское</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>отделения паталогии беременных</b></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">МУЗ 
  Родильный дом</font></td>
  <td><font size="2" face="Times New Roman">ул.Ленина,153</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>детские магазины</b></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">&quot;Маленькая 
  страна&quot;</font></td>

  <td><font size="2" face="Times New Roman">пер.Гоголевский</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">&quot;Мамина 
  забота&quot;</font></td>
  <td><font size="2" face="Times New Roman">пер.Смирновский/пер.<WBR>Гоголевский</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">и 
  другие</font></td>
  <td> </td></tr>
  
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>магазин для беременных</b></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Мультицентр</font></td>
  <td> </td></tr>
<tr valign="top"><td height="12"> </td>
  <td> </td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>медицинские центры</b></td></tr>
  
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">ИП 
  &quot;Черепанов&quot;</font></td>
  <td><font size="2" face="Times New Roman">пер. Итальянский,37 
  (каб.№3)</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">мед.центр 
  &quot;БИОМЕД&quot;</font></td>

  <td><font size="2" face="Times New Roman">ул.Фрунзе,66</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">центр</font></td>
  <td><font size="2" face="Times New Roman">ул.Дзержинского</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Краснодар</h2></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Перинатальный 
  центр</font></td>
  <td><font size="2" face="Times New Roman">Красных партизан 
  6/2</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  консультация№1</font></td>
  <td><font size="2" face="Times New Roman">Гимназическая,93</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  консультация№3</font></td>
  <td><font size="2" face="Times New Roman">Таманская,130</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  консультация№5</font></td>

  <td><font size="2" face="Times New Roman">Красных партизан 
  6/2</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Женская 
  консультация№7</font></td>
  <td><font size="2" face="Times New Roman">40-лет Победы146/5</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Детская 
  Поликлиника№1</font></td>
  <td><font size="2" face="Times New Roman">Тургенева,23</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Сочи</h2></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Перинатальный 
  центр</font></td>
  <td><font size="2" face="Times New Roman">Дагомысская ,46</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Анапа</h2></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Санаторий 
  Ди Луч</font></td>
  <td><font size="2" face="Times New Roman">Пушкина,16</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Армавир</h2></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Перинатальный 
  центр</font></td>
  <td><font size="2" face="Times New Roman">Энгельса,20</font></td></tr>

		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><h2>Ставрополь</h2></td></tr>
		
		<tr><td colspan="2"><b>детские поликлиники</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  детская поликлиника №1</font></td>
  <td><font size="2" face="Times New Roman">ул. Ленина 470</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  детская поликлиника №2</font></td>
  <td><font size="2" face="Times New Roman">ул. Маршала 
  Жукова 50</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  детская поликлиника №3</font></td>
  <td><font size="2" face="Times New Roman">ул. Тухачевского 
  17</font></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Педиатрическое 
  отделение гор. Поликлиники№3</font></td>
  <td><font size="2" face="Times New Roman">пр-т Юности 
  42</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Педиатрическое 
  отделение гор. Поликлиники№5</font></td>
  <td><font size="2" face="Times New Roman">ул. Воронежская 
  16а</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городской 
  Аллергологический Центр</font></td>
  <td><font size="2" face="Times New Roman">ул. Пономарёва 
  5</font></td></tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>женские консультации</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  поликлиника №1</font></td>
  <td><font size="2" face="Times New Roman">ул. Ломоносова 
  5</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  поликлиника №3</font></td>
  <td><font size="2" face="Times New Roman">пр-т Юности 
  42</font></td></tr>

<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  поликлиника №5</font></td>
  <td><font size="2" face="Times New Roman">ул. Воронежская 
  16а</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  поликлиника №6</font></td>
  <td><font size="2" face="Times New Roman">ул. Тухачевского 
  17</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Городская 
  поликлиника №7</font></td>
  <td><font size="2" face="Times New Roman">ул. Серова 281</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Краевая 
  детская консультативная <WBR>поликлиника </font>

  </td>
  <td><font size="2" face="Times New Roman">ул. Семашко,3</font></td></tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>роддома</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Краевой 
  Клинический  Перинатальный центр</font></td>

  <td><font size="2" face="Times New Roman">ул. Ломоносова 
  44</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Акушерское 
  отделение при МУЗ ГКБ№4</font></td>
  <td><font size="2" face="Times New Roman">ул. Тухачевского 
  17</font></td></tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>отделения паталогии беременных</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Краевой 
  Клинический  Перинатальный центр</font></td>
  <td><font size="2" face="Times New Roman">ул. Ломоносова 
  44</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">Акушерское 
  отделение при МУЗ ГКБ№4</font></td>
  <td><font size="2" face="Times New Roman">ул. Тухачевского 
  17</font></td></tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>медицинские центры</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">АНМО 
  ККДЦ Клиника Семейного Врача</font></td>
  <td><font size="2" face="Times New Roman">пр-т,Карла Маркса 
  110</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">АНМО 
  ККДЦ Центр планирования семьи</font></td>
  <td><font size="2" face="Times New Roman">ул. Ленина 304</font></td></tr>
		
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2"><b>детские магазины</b></td></tr>
		
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">«Premaman»</font></td>
  <td><font size="2" face="Times New Roman">ул. Маршала 
  Жукова 8</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">«Катюша»</font></td>
  <td><font size="2" face="Times New Roman">ул. Мира 280а</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">«Леопольд»</font></td>

  <td><font size="2" face="Times New Roman">ул. Ленина 125</font></td></tr>
<tr valign="top"><td height="12"><font size="2" face="Times New Roman">«Развивайка»</font></td>
  <td><font size="2" face="Times New Roman">ул. 50 лет ВЛКСМ 
  14б</font></td></tr>
  
  <tr><td colspan="2">&nbsp;</td></tr>
  
<tr valign="top"><td height="12"><h2>Воронеж</h2></td>
  <td><font color="#FF0000" size="2" face="Times New Roman">С 2010 года</font></td></tr>
  
<tr valign="top"><td height="12"><h2>Москва</h2></td>
  <td><font color="#FF0000" size="2" face="Times New Roman">С 2010 года</font></td></tr>
  
<tr valign="top"><td height="12"><h2>Санкт-Петербург</h2></td>
  <td><font color="#FF0000" size="2" face="Times New Roman">С 2010 года</font></td></tr>
</table>

	
	
{% endblock %}
