{% extends 'magazine/base.html' %}

{% block title %}Семейный журнал "Мамочка": услуги и цены{% endblock %}
{% block subtitle %}{% endblock %}

{% block text %}
	<h2><a href="{{ media_url }}/magazine/presentation.pdf">Презентация журнала</a></h2><br/>
	
	<p>Специализированное издание для женщин освещает вопросы, связанные с беременностью,
	рождением и воспитанием детей, раскроет секреты красоты и здоровья, научит быть стройными и
	привлекательными, откроет все тайны взаимоотношений с противоположным полом, подскажет формулу
	женского успеха во всех сферах жизни. Интересные статьи и полезные советы.</p>
	
	<p>
		<strong>Формат</strong> - А5<br/>
		<strong>Бумага</strong> - глянцевая<br/>
		<strong>Периодичность</strong> - 7 выпусков в год<br/>
		<strong>Тираж</strong> - 15000 экземпляров<br/><br/>
	</p>
	
	<h2>География распространения</h2>
	
	<ul class="magazine-cities">
		<li>Ростов-на-Дону</li>
		<li>Ростовская область</li>
	</ul>
	
	<p><strong>Распространяется  бесплатно</strong> в медицинских учреждениях (женских
	консультациях, школах для будущих мам, роддомах, детских поликлиниках, медицинских
	центрах), магазинах товаров для детей и будущих мам, на специализированных выставках.<br/><br/>
	</p>
	
	<h2>Спецпредложение для магазинов товаров для детей или будущих мам, медицинских и развлекательных центров!</h2>
	
	<p>Не упустите свой шанс на развитие бизнеса! Рекламный модуль размером 65х50 мм совершенно бесплатно!
	Если вы хотите разместить модуль большего размера, тогда вам будет предоставлена скидка в размере 3000 рублей!
	Количество бесплатных модулей ограничено. Всё, что вам надо для этого сделать, подарить 300 наших журналов
	вашим покупателям. О своём желании сотрудничать с журналом вы можете сообщить, позвонив по телефону
	256-01-31 или написав нам по электронной почте <a href="mailto:2560131@maail.ru">2560131@maail.ru</a></p>
	
	<h1 style="margin-top: 40px; margin-bottom: 0px;">Стоимость размещения рекламы в журнале</h1>
	
	<table border="1" style="width: 80%;" align="center">
		<thead>
			<tr valign="top">
				<td>Размер макета</td>
				<td>Площадь</td>
				<td>Стоимость</td>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td>1 страница</td>
				<td>140 х 210 (+5 - «вылет»)</td>
				<td>15000</td>
			</tr>
			
			<tr>
				<td>1/2 страницы</td>
				<td>140 х 105 (+5 - «вылет»)</td>
				<td>9000</td>
			</tr>
			
			<tr>
				<td>1/4 страницы</td>
				<td>65 х 100</td>
				<td>5000</td>
			</tr>
			
			<tr>
				<td>1/8 страницы</td>
				<td>65 х 50</td>
				<td>3000</td>
			</tr>
			
			<tr>
				<td>1/16 страницы</td>
				<td>30 х 50</td>
				<td>2000</td>
			</tr>
			
			<tr>
				<td>2-я обложка</td>
				<td>140 х 210 (+5 - «вылет»)</td>
				<td>20000</td>
			</tr>
			
			<tr>
				<td>3-я обложка</td>
				<td>140 х 210 (+5 - «вылет»)</td>
				<td>18000</td>
			</tr>
			
			<tr>
				<td>4-я обложка</td>
				<td>140 х 210 (+5 - «вылет»)</td>
				<td>25000</td>
			</tr>
			
			<tr>
				<td>Изготовление  макета</td>
				<td></td>
				<td>От 3000</td>
			</tr>
		</tbody>
	</table>
	
	<p style="margin-top: 10px;"><span style="color: red">*</span> Цены действительны 
	до 31 декабря 2011 года<br/><strong>НДС не облагаются</strong></p>
	
	<h2 style="margin-top: 20px;">Скидки</h2>
	<ul style="margin-left: 20px;">
		<li><strong>2 выпуска</strong> журнала: 5% / 10%<span style="color: red">*</span></li>
		<li><strong>3-5 выпуска</strong> журнала: 10% / 15%<span style="color: red">*</span></li>
		<li><strong>6 и более выпусков</strong> журнала: 15% / 20%<span style="color: red">*</span></li>
		<li><strong>рекламным агенствам</strong>: 20% / 25%<span style="color: red">*</span></li>
	</ul>
	
	<p style="margin-top: 10px;"><span style="color: red">*</span> Действуют  при единовременной  предоплате заказных  публикаций</p>
	
	<h2>Требования к макету</h2>
	<p>Макеты принимаются в графических форматах eps (300 dpi), tiff, cdr, шрифты
	должны быть переведены в кривые.</p>
	
	<h1 style="margin-top: 40px; margin-bottom: 0px;">График выхода в 2011 году</h1>
	
	<table border="1" style="width: 70%;" align="center">
		<thead>
			<tr valign="top">
				<td>Выпуск</td>
				<td>Выход</td>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td align="center">№1 Январь-февраль</td>
				<td>25 января</td>
			</tr>
			
			<tr>
				<td align="center">№2 Март-апрель</td>
				<td>15 марта</td>
			</tr>
			
			<tr>
				<td align="center">№3 Май-июнь</td>
				<td>15 мая</td>
			</tr>
			
			<tr>
				<td align="center">№4 Июль-август</td>
				<td>25 июля</td>
			</tr>
			
			<tr>
				<td align="center">№5 Сентябрь-октябрь</td>
				<td>20 сентября</td>
			</tr>
			
			<tr>
				<td align="center">№6 Спецвыпуск «СкороМама»<br/>Методическое  пособие для будущих мам</td>
				<td>20 октября</td>
			</tr>
			
			<tr>
				<td align="center">№7 Ноябрь-декабрь</td>
				<td>25 ноября</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
