{% extends 'magazine/base.html' %}

{% block title %}Семейный журнал "Мамочка": услуги и цены{% endblock %}
{% block subtitle %}{% endblock %}

{% block text %}
	<h2><a href="{{ media_url }}/magazine/presentation.pdf">Презентация журнала</a></h2><br/>
	
	<h2>6 лет в издательском бизнесе</h2>
	
	<p>Федеральное издание для молодых родителей. Освещает вопросы, связанные с 
	рождением, воспитанием, развитием и образованием детей. Помогает родителям,
	как будущим, так и настоящим, найти ответы на любые вопросы в области
	медицины, педагогики, психологии.</p>
	
	<p><strong>Член  Национальной тиражной службы</strong></p>
	
	<img src="{{ media_url }}/magazine/svidetelstvo.jpg" />
	
	<h2 style="margin-top: 40px;">3 хороших новости для тех, кто желает увеличить объемы своих продаж </h2>
	
	<ul class="magazine-advances">
		<li><strong>1. Мы повышаем тираж до 125000 экземпляров</strong> с февраля  – 75000,
		с октября – 125000 экземпляров. При этом <span style="color: red">стоимость</span>
		размещения <span style="color: red">одной полосы</span> в одном выпуске
		составит всего <span style="color: red">50 копеек!</span></li>
		
		<li><strong>2. Мы увеличиваем формат до А4</strong></li>
		<li><strong>3. Мы расширяем свою географию</strong></li>
	</ul>
	
	<h2>Достойное качество полиграфии</h2>
	<p>Печать в одной из крупнейших типографий в России <strong>"МДМ-Печать" г.Санкт-Петербург</strong></p>
	
	<h2>География распространения</h2>
	
	<ul class="magazine-cities">
		<li>Ростов-на-Дону</li>
		<li>Краснодар</li>
		<li>Ставрополь</li>
		<li>Воронеж</li>
		<li>Москва</li>
		<li>Санкт-Петербург</li>
	</ul>
	
	<p><strong>Распространяется  бесплатно</strong> в медицинских учреждениях (женских консультациях,
	школах для будущих мам, роддомах, детских поликлиниках, медицинских центрах),
	магазинах товаров для детей и будущих мам, на специализированных выставках.<br/><br/>
	
	В медучреждениях распространяется через  медицинский персонал.</p>
	
	<h1 style="margin-top: 40px; margin-bottom: 0px;">Стоимость размещения рекламы в журнале</h1>
	
	<table border="1" style="width: 80%;" align="center">
		<thead>
			<tr valign="top">
				<td>Размер макета</td>
				<td>Площадь</td>
				<td>Стоимость</td>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td>1/32 полосы</td>
				<td>43,5 x 30,5 (+5 - "вылет")</td>
				<td>1550</td>
			</tr>
			
			<tr>
				<td>1/16 полосы</td>
				<td>43,5 x 65 (+5 - "вылет")</td>
				<td>3000</td>
			</tr>
			
			<tr>
				<td>1/8 полосы</td>
				<td>91 x 65 (+5 - "вылет")</td>
				<td>5750</td>
			</tr>
			
			<tr>
				<td>1/4 полосы (гориз.)</td>
				<td>210 х 65 (+5 - "вылет")</td>
				<td>11000</td>
			</tr>
			
			<tr>
				<td>1/4 полосы (верт.)</td>
				<td>91 x 133,5 (+5 - "вылет")</td>
				<td>11000</td>
			</tr>
			
			<tr>
				<td>1/3 полосы (гориз.)</td>
				<td>210 x 92 (+5 - "вылет")</td>
				<td>14000</td>
			</tr>
			
			<tr>
				<td>1/3 полосы (верт.)</td>
				<td>62 x 280 (+5 - "вылет")</td>
				<td>14000</td>
			</tr>
			
			<tr>
				<td>1/2 полосы (гориз.)</td>
				<td>210 x 136 (+5 - "вылет")</td>
				<td>20000</td>
			</tr>
			
			<tr>
				<td>1/2 полосы (верт.)</td>
				<td>103 x 280 (+5 - "вылет")</td>
				<td>20000</td>
			</tr>
			
			<tr>
				<td>1/1 полосы</td>
				<td>210 x 280 (+5 - "вылет")</td>
				<td>37500</td>
			</tr>
			
			<tr>
				<td>2-я  обложка</td>
				<td>210 x 280 (+5 - "вылет")</td>
				<td>45000</td>
			</tr>
			
			<tr>
				<td>3-я  обложка</td>
				<td>210 x 280 (+5 - "вылет")</td>
				<td>41250</td>
			</tr>
			
			<tr>
				<td>4-я  обложка</td>
				<td>210 x 280 (+5 - "вылет")</td>
				<td>48750</td>
			</tr>
			
			<tr>
				<td>Спец. реклама</td>
				<td></td>
				<td>По запросу</td>
			</tr>
			
			<tr>
				<td>Изготовление  макета</td>
				<td></td>
				<td>3000 – 5000</td>
			</tr>
			
			<tr>
				<td>Размещение в рубриках по запросу</td>
				<td></td>
				<td>15%</td>
			</tr>
		</tbody>
	</table>
	
	<p style="margin-top: 10px;"><span style="color: red">*</span> Цены действительны 
	до 31 августа 2010 года<br/><strong>НДС не облагаются</strong></p>
	
	<h2 style="margin-top: 20px;">Скидки</h2>
	<ul style="margin-left: 20px;">
		<li><strong>2 выпуска</strong> журнала: 5%</li>
		<li><strong>3-5 выпуска</strong> журнала: 10%</li>
		<li><strong>6 и более выпусков</strong> журнала: 15%</li>
		<li><strong>рекламным агенствам</strong>: 15%</li>
	</ul>
	
	<p style="margin-top: 10px;"><span style="color: red">*</span> Действуют  при единовременной  предоплате заказных  публикаций</p>
	
	<h2>Требования к макету</h2>
	<p>Макеты принимаются  в графических форматах eps (300 dpi), tiff, cdr, шрифты
	должны быть переведены в  кривые.</p>
{% endblock %}
