{% extends 'magazine/base.html' %}

{% load dates %}

{% block title %}Семейный журнал "Мамочка": все выпуски журнала{% endblock %}
{% block subtitle %}{% endblock %}

{% block text %}
	{% if volumes.0 %}
		<h1 style="margin-bottom: 0px;"><a href="{{ media_url }}/magazine/{{ volumes.0.0 }}">Свежий номер ({{ volumes.0.2|floatformat:"2" }} кб)</a></h1>
		
		{% if volumes.0.3 %}<a href="{{ media_url }}/magazine/{{ volumes.0.0 }}">
			<img src="{{ media_url }}/magazine/{{ volumes.0.3 }}" />
		</a>{% endif %}
		
		{% if volumes.1 %}
			<h2 style="margin-top: 40px;">Все выпуски журнала в формате PDF</h2>
		
			<ul class="tpl-vertlist">{% for volume in volumes %}{% if not forloop.first %}
				<li {% if not volume.3 %}style="margin: 30px; height: 140px;"{% endif %}>
					{% if volume.3 %}<a href="{{ media_url }}/magazine/{{ volume.0 }}">
						<img src="{{ media_url }}/magazine/{{ volume.3 }}_thumb" width="100" />
					</a>{% endif %}
					
					<h2><a href="{{ media_url }}/magazine/{{ volume.0 }}">
						{{ volume.1|date:"F"|ru_months:"1" }} ({{ volume.2|floatformat:"2" }} кб)
					</a></h2>
				</li>
			{% endif %}{% endfor %}</ul>
		{% endif %}
	{% else %}
		<h3 style="color: red">На текущий моменты ни один выпуск не опубликован.</h3>
	{% endif %}
	
	<div style="margin-top: 170px;">&nbsp;</div>
{% endblock %}
