{% extends 'base.html' %}

{% load blocks %}

{% block column_right %}
	<div class="tpl-article-categories corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			<h2>Новости школы</h2>
			
			<ul>
				{% last_articles_short 7 1 1 %}
				<li style="margin-top: 20px;"><a class="section-link" href="{% url pr-school-list %}">
					Все новости школы →
				</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="tpl-article">
		<a href="javascript:history.go(-1)">назад</a><br/><br/>
		
		<div class="title"><a href="">{{ direction.title }}</a></div>
		
		<p>{{ direction.description|safe }}</p>
	</div>
	
	<div style="margin-top: 100px;"></div>
{% endblock %}
