{% extends 'base.html' %}

{% load blocks %}

{% block column_right %}
	<div class="tpl-article-categories corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			<h2>Новости школы</h2>
			<ul>
				{% last_articles 7 1 1 %}
				<li style="margin-top: 10px;"><a class="section-link" href="{% url pr-school-list %}">
					Все новости школы →
				</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}
	<ul class="tpl-articles">
		<h1>Школа семьи "МАМОЧКА" <a href="{% url school-raspisanie %}">как найти</a></h1>
		
		<br/>
		
		{% for direction in object_list %}
			<li>
				<div class="title"><a href="{% url school-direction slug=direction.slug %}">
					{{ direction.title }}
				</a></div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
