{% extends 'base.html' %}

{% load pages %}
{% load dates %}
{% load photos %}

{% block column_right %}
	<div class="tpl-categories corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Разделы магазина</h2>
			{% include 'candy/_categories-tree.html' %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<h1>Корзина заказа</h1>
	
	<ul class="tpl-cart">{% for product in request.session.cart %}
		<li>
			<a href="{% url candy-product category=product.category.all.0.slug, product=product.slug %}">
				<img class="mini-thumb" src="{{ product.thumb_url }}" title="{{ product.title }}" />
			</a>
			
			<a href="{% url candy-product category=product.category.all.0.slug, product=product.slug %}">
			{{ product.title|truncatewords:7|lower }}</a><br/>{{ product.price }} руб.
		</li>
	{% endfor %}</ul>
	
	<h2><a href="">Оформить заказ</a></h2>
{% endblock %}
