{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ }
			);
		});
	</script>
{% endblock %}

{% block column_right %}
	{% include 'candy/cart-preview.html' %}
	
	{% categories_tree 0 %}
	{% orders_preview 5 request.user.id %}
{% endblock %}

{% block content %}
	<h1>Мы рекомендуем!</h1>
	
	<ul class="tpl-products">{% with featured_items as products %}
		{% include 'candy/_products.html' %}
	{% endwith %}</ul>
{% endblock %}
