{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ }
			);
		});
	</script>
{% endblock %}

{% block column_right %}
	{% include 'candy/cart-preview.html' %}
	
	<div class="tpl-categories corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Разделы магазина</h2>
			{% include 'candy/_categories-tree.html' %}
		</div>
	</div>
	
	{% orders_preview 5 request.user.id %}
{% endblock %}

{% block content %}
	<h1>Мы рекомендуем!</h1>
	
	<ul class="tpl-products">{% with featured_items as products %}
		{% include 'candy/_products.html' %}
	{% endwith %}</ul>
{% endblock %}
