{% extends 'base.html' %}

{% load pages %}
{% load dates %}

{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ media_url }}/css/pages/bulletins.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jqModal.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/bulletins.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function () {
			Bulletins.bindEvents();
		});
	</script>
{% endblock %}

{% block content %}
	<div class="tpl-bulletins-archive corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			{% include 'bulletins/_archive-block.html' %}
		</div>
	</div>
	
	<div class="tpl-content">
		<div class="tpl-bulletin">
			<a href="javascript:history.go(-1)">назад</a><br/><br/>
			{% include 'bulletins/_bulletin.html' %}
		</div>
	</div>
	
	<div class="tpl-full-archive jqmWindow">
		{% full_archive '/bulletins' %}
	</div>
{% endblock %}
