/* 
******************************************************************************/

.tpl-bulletins-archive {
	margin-bottom: 10px;
}
	.tpl-bulletins-archive ul li {
		margin-left: 7px;
		padding-top: 5px;
	}

/* 
******************************************************************************/

.tpl-bulletin {
	margin-bottom: 20px;
}

	.tpl-bulletin p {
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 25%;
	}

		.tpl-bulletin strong {
			font-weight: bold;
		}

	.tpl-bulletin h2 {
		margin-top: 15px;
	}

.tpl-bulletins {
	margin-bottom: 20px;
}

	.tpl-bulletins li {
		margin-left: 15px;
		margin-bottom: 40px;
	}

/*
******************************************************************************/

.tpl-full-archive ul {
	float: none;
	margin-top: -7px;
	padding-bottom: 25px;
}

	.tpl-full-archive ul li {
		float: left;
		padding-left: 7px;
	}

/*
******************************************************************************/

.error { color: #7d2d2d; }

form {
	margin-top: 20px;
}

form div { padding-bottom: 40px; }

	form .erroneus input, form .erroneus textarea {
		border: solid red 2px;
		background-color: #ffbaba;
	}

	form div label {
		color: #18537c;
		display: block;
		font: normal 1.340em Tahoma, Verdana, sans-serif;
	}

	form div input {
		width: 370px;
		height: 25px;
		color: #47472A;
		display: block;
		padding: 0px 2px;
		border: solid #18537c 1px;
		background-color: #fcde7d;
		font-size: 20px;
	}

	form div textarea {
		width: 370px;
		height: 100px;
		display: block;
		border: solid #18537c 1px;
		background-color: #fcde7d;
	}

	form .wait {
		display: none;
		color: gray;
	}
