/* 
******************************************************************************/

	.tpl-news {
		margin-left: 40px;
		margin-top: 20px;
		margin-right: 300px;
		margin-bottom: 54px;
	}

		.tpl-news li,
		.tpl-articles li {
			margin-left: 15px;
			margin-bottom: 17px;
		}

		.tpl-news .title a,
		.tpl-articles .title a,
		.tpl-article .title a,
		.tpl-bulletins .title a,
		.tpl-bulletin .title a,
		.tpl-threads .title a,
		.tpl-thread .title a   {
			font-size: 1.65em;		
		}

/* 
******************************************************************************/

	.tpl-other-articles {
		float: right;
		width: 300px;
		
		margin-bottom: 10px;
	}
	
		.tpl-other-articles li {
			margin-bottom: 10px;
		}

/* 
******************************************************************************/

	.tpl-gallery {
		clear: both;
		height: 140px;
		
		text-align: center;
		margin-bottom: 25px;

		border: 1px solid #7e7e7e;
		border-bottom-width: 4px;
		
		background: #ebf6fb url('../../images/gallery-bg.png') 0 center repeat-x;
	}
		.digest {
			display: none;
		}
		
		.tpl-gallery img {
			padding: 20px 27px 20px 20px;
		}
	
/* 
******************************************************************************/

	.tpl-board {
		float: right;
		width: 360px;

		margin-bottom: 10px;
	}
		.tpl-board li {
			margin-bottom: 1em;
		}
