/* 
******************************************************************************/

	.tpl-news {
		margin-bottom: 20px;
	}

		.tpl-news li,
		.tpl-articles li {
			margin-left: 15px;
			margin-bottom: 17px;
		}

/* 
******************************************************************************/

	.tpl-other-articles {
		width: 300px;
		margin-bottom: 10px;
	}
	
		.tpl-other-articles li {
			margin-bottom: 10px;
		}

/* 
******************************************************************************/

	.tpl-gallery {
		clear: both;
		height: 140px;
		
		text-align: center;
		margin-bottom: 25px;

		border: 1px solid #7e7e7e;
		border-bottom-width: 4px;
		
		background: #ebf6fb url('../../images/gallery-bg.png') 0 center repeat-x;
	}
		.digest {
			display: none;
		}
		
			.digest ul {
				text-align: left;
				margin-left: 10%;
				margin-top: 10px;
			}
			
				.digest ul .title {
					font-size: 1.65em;
				}
		
		.tpl-gallery img {
			padding: 20px 27px 20px 20px;
		}
	
/* 
******************************************************************************/

	.tpl-board {
		width: 360px;
		margin-bottom: 10px;
	}
		.tpl-board li {
			margin-bottom: 1em;
		}
	
/* 
******************************************************************************/

.directions { margin-left: 20px; }
	.directions li { margin: 10px; }
