{% extends 'base.html' %}

{% load dates %}
{% load blocks %}
{% load bulletins %}
{% load photos %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ media_url }}/css/pages/profile.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jqModal.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/date-format.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/comments.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			$('.tpl-full-archive').jqm();
			Comments.bindTo($('#comment-form'), $('.tpl-comments ul'), '{% now "Y-m-d H:i:s" %}');
		});
	</script>
{% endblock %}

{% block column_right %}
	{% if not object.is_news %}
		<div class="tpl-article-categories corners">
			<div class="t-r"></div><div class="b-r"></div>
			<div class="wrap">
				{% with "/pressroom/articles" as url %}
					{% include 'pressroom/_sections-block.html' %}
				{% endwith %}
			</div>
		</div>
	{% endif %}
	
	<div class="tpl-news-archive corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			{% if object.is_news %}
			
				{% with "/pressroom/news" as url %}
					
					{% include 'pressroom/_archive-block.html' %}
				{% endwith %}
			{% else %}
			
				{% with "/pressroom/articles" as url %}
				
					{% include 'pressroom/_archive-block.html' %}
				{% endwith %}
			{% endif %}
		</div>
	</div>

	<div class="tpl-full-archive jqmWindow">
		{% full_archive url %}
	</div>
{% endblock %}

{% block content %}
	<div class="tpl-article">
		<a href="javascript:history.go(-1)">назад</a><br/><br/>
		{% include 'pressroom/_article.html' %}
	</div>
	
	{% if object.tags.all %}
		{% with 'article' as type %}
			{% with object.tags.all as tags %}
				{% include 'common/_tags.html' %}
			{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% with object.id as entry_id %}
		{% with "article" as entry_type %}
			{% with object.comments.all as comments %}
				{% include 'common/_comments.html' %}
			{% endwith %}
		{% endwith %}
	{% endwith %}
{% endblock %}
