{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Реклама на сайте{% endblock %}
{% block subtitle %}Реклама на сайте{% endblock %}

{% block text %}
	<table border="1" style="width: 80%;" align="center">
		<thead>
			<tr valign="top">
				<td>&nbsp;</td>
				<td>468x120</td>
				<td>160x600</td>
				<td>240x120</td>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td><b>На главной странице</b></td>
				<td>25 000 руб.</td>
				<td>35 000 руб.</td>
				<td>15 000 руб.</td>
			</tr>
			
			<tr>
				<td><b>На всех страницах (сквозной баннер)</b></td>
				<td>35 000 руб.</td>
				<td>45 000 руб.</td>
				<td>25 000 руб.</td>
			</tr>
		</tbody>
	</table>
	
	<div style="margin-top: 100px;">&nbsp;</div>
{% endblock %}

