{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Реклама на сайте{% endblock %}
{% block subtitle %}Реклама на сайте{% endblock %}

{% block text %}

	<table border="1" style="width: 90%;" align="center">
		<thead>
			<tr>
				<td rowspan="2" colspan="2">Расположение<br/><br/>Размер макета, px</td>
				<td colspan="2">На главной странице<br/><br/></td>
				<td colspan="2">На всех страницах(сквозной баннер)<br/><br/></td>
			</tr>
			
			<tr>
				<td>Неделя</td>
				<td>Месяц</td>
				<td>Неделя</td>
				<td>Месяц</td>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td colspan="2"><strong>468 x 120</strong></td>
				<td>5000 рублей</td>
				<td>15000 рублей</td>
				<td>6000 рублей</td>
				<td>19000 рублей</td>
			</tr>
			
			<tr>
				<td colspan="2"><strong>160 x 600</strong></td>
				<td>7000 рублей</td>
				<td>20000 рублей</td>
				<td>8000 рублей</td>
				<td>25000 рублей</td>
			</tr>
			
			<tr>
				<td colspan="2"><strong>240 x 120</strong></td>
				<td>2000 рублей</td>
				<td>5000 рублей</td>
				<td>3000 рублей</td>
				<td>7000 рублей</td>
			</tr>
		</tbody>
	</table>
	
	<div style="margin-top: 100px;">&nbsp;</div>
{% endblock %}

