{% extends 'base.html' %}

{% load blocks %}

{% block column_right %}
	<div class="tpl-article-categories corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			<h2>{% block section %}О нас{% endblock %}</h2>
			
			<ul>
				{% block nav %}
					<li><a href="{% url who-we-r %}">Кто мы</a></li>
					<li><a href="{% url contacts %}">Контактная информация</a></li>
					<li><a href="{% url advert %}">Реклама на сайте</a></li>
					<li>&nbsp;</li>
				{% endblock %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="tpl-article">
		<h1 style="margin-bottom: 10px;">{% block subtitle %}{% endblock %}</h1>
		
		{% block text %}{% endblock %}
	</div>
{% endblock %}
