{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Контактная информация{% endblock %}
{% block subtitle %}Контактная информация{% endblock %}

{% block text %}
	<div style="font-size: 1.1em;">
		Почтовый адрес <h2>344011 г.Ростов-на-Дону, а/я 480</h2>
		
		Наш офис <h2>г.Ростов-на-Дону, ул.339-й Стрелковой Дивизии, 23-В</h2>
		
		<h1 style="margin-top: 40px; margin-bottom: 10px;">Портал и службы mamochkam.com</h1>
		Предложения и замечания по работе портала
		<h2>mamochkam@pochta.ru</h2>
		
		Директор портала <h2>Елена Донец <a href="mailto:2560131@mail.ru">2560131@mail.ru</a></h2>
		
		Коммерческий директор <h2>Евгений Донец <a href="mailto:2568919@mail.ru">2568919@mail.ru</a></h2>
		
		Телефоны <h2>(863)256-01-31, 256-89-19</h2>
		Факс <h2>(863)269-49-94</h2>
	</div>
{% endblock %}

