{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Контактная информация{% endblock %}
{% block subtitle %}Контактная информация{% endblock %}

{% block text %}
	<div style="font-size: 1.1em;">
		<p>
			<strong>Почтовый адрес</strong><br/>
			344015 г.Ростов-на-Дону, ул.339-й Стрелковой Дивизии, 23-В
		</p>
		
		<p>
			<strong>Телефоны</strong><br/>
			(863) 225-24-55, 225-32-25
		</p>
		
		<p>
			<strong>Факс</strong><br/> (863) 262-72-22
		</p>
		
		<h2>Донец Евгений Васильевич</h2>
		<p>
			Генеральный директор ООО «МАМОЧКА»<br/>
			Коммерческий директор журнала «МАМОЧКА»<br/>
			e-mail: <a href="mailto:2568919@mail.ru">2568919@mail.ru</a><br/>
			Телефон: (863) 2568919
		</p>
		
		<h2>Донец Елена Анатольевна</h2>
		<p>
			Директор школы семейного воспитания «МАМОЧКА»<br/>
			Главный редактор журнала «МАМОЧКА»<br/>
			e-mail: <a href="mailto:2560131@mail.ru">2560131@mail.ru</a><br/>
			Телефон: (863) 2560131
		</p>
	</div>
{% endblock %}

