{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Кто мы{% endblock %}
{% block subtitle %}Кто мы{% endblock %}

{% block еуче %}
	Наш портал – море нужной и полезной информации, заботливо подобранной для вас.
	
	<ul></ul>
	Журнал – доброжелательный к ребенку, авторы – ведущие специалисты Юга России.  
	
	Школа семьи – там, где любят вашего ребенка. 
	
	Клуб - подготовка женщины к родам: обучение специальным приемам обезболивания родов,
	формирование навыков правильного дыхания, ценные рекомендации по уходу за собой и новорожденным;
	практикум для родителей. 
	
	Детский центр – комплексные программы развития одаренности.
	
	Праздник  детства – организация и проведение праздников и Дней рождения. Если вы хотите, чтобы
	ваши дети весело провели этот день, им просто необходима помощь клоунов. А нашим клоунам есть чем
	удивить деток – конкурсами и эстафетами, играми, песнями и шутками, и конечно воздушными шарами. 
	
	Интернет-магазин  – самый удобный способ для родителей, не выходя из дома, приобрести качественные
	развивающие игры для малыша.
	
	Видеостудия – незабываемые моменты детства вашей крохи в красочном видеофильме с любимыми героями
	из популярных мультфильмов и сказочными спецэффектами.   
{% endblock %}

