{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Кто мы{% endblock %}
{% block subtitle %}Кто мы{% endblock %}

{% block text %}
	<p>Наш портал – море нужной и полезной информации, заботливо подобранной для вас.</p>
	
	<ul class="directions">
		<li><b>Журнал</b> – доброжелательный к ребенку, авторы – ведущие специалисты Юга России.</li>
		<li><b>Школа семьи</b> – занятия по душе для всей семьи.</li>
		
		<li>
			<b>Клуб</b> - подготовка женщины к родам: обучение специальным приемам обезболивания родов,
			формирование навыков правильного дыхания, ценные рекомендации по уходу за собой и новорожденным;
			практикум для родителей.
		</li>
		
		<li><b>Детский центр</b> – уникальные программы развития одаренности.</li>	
		
		<li>
			<b>Праздник  детства</b> – организация и проведение праздников и Дней рождения. Если вы хотите, чтобы
			ваши дети весело провели этот день, им просто необходима помощь клоунов. А нашим клоунам есть чем
			удивить деток – конкурсами и эстафетами, играми, песнями и шутками, и конечно воздушными шарами.
		</li>
		
		<li>
			<b>Интернет-магазин</b>  – самый удобный способ для родителей, не выходя из дома, приобрести качественные
			развивающие игры для малыша.
		</li>
		
		<li>
			<b>Видеостудия</b> – незабываемые моменты детства вашей крохи в красочном видеофильме с любимыми героями
			из популярных мультфильмов и сказочными спецэффектами.
		</li>
	</ul>
{% endblock %}

