{% extends 'static/base.html' %}

{% block title %}МАМОЧКА - Кто мы{% endblock %}
{% block subtitle %}Кто мы{% endblock %}

{% block text %}
	<p><strong>Дорогие друзья!</strong></p>
	
	<p>Рады вас приветствовать на информационном портале корпорации "МАМОЧКА".</p>
	
	<ul class="directions">
		<li> - Центр развития детской одаренности</li>
		<li> - Мини-детский сад</li>
		<li> - Семейный журнал</li>
		<li> - Школа нянь и гувернанток</li>
		<li> - Агенство домашнего персонала</li>
		<li> - Интернет-магазин</li>
		<li> - Видеостудия</li>
	</ul>
	
	<p>И это лишь часть направлений нашего проекта, цель которого  дать мамам и папам все необходимые
	знания, чтобы вырастить здорового, развитого и счастливого малыша!</p>
	
	<p>Все, что вы увидите под брендом "МАМОЧКА", прошло строгую проверку лучшими специалистами,
	счастливыми семьями и любящими родителями.</p>
{% endblock %}

