{% extends 'base.html' %}

{% load pages %}
{% load dates %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jqModal.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.tpl-full-archive').jqm();
		});
	</script>
{% endblock %}

{% block content %}
	<ul class="tpl-threads">
		<h1>Наши мамочки спрашивают <a href="{% url new-question %}">задать вопрос</a></h1>
		
		<br/>
		
		{% if object_list %}
			{% include 'consults/_questions.html' %}
		{% else %}
			
			{% if date_list %}
				<h3>Нет материалов за указанную дату</h3>
			{% else %}
				<h3 style="color: red">По вашем запросу материалов нет</h3>
			{% endif %}
			
		{% endif %}
		
		{% if page_obj.has_other_pages %}
			<li class="pages">{% pages paginator page_obj request.path %}</li>
		{% endif %}
	</ul>
{% endblock %}
