{% extends 'base.html' %}

{% load pages %}
{% load dates %}
{% load photos %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jqModal.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.tooltip.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.dimensions.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/chili-1.7.pack.js"></script>
	
	<script type="text/javascript" src="{{ media_url }}/js/photos.js"></script>
{% endblock %}

{% block content %}
	<div class="tpl-most-commented corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			{% include 'photos/_lastphoto-block.html' %}
		</div>
	</div>
			
	<div class="tpl-galleries corners">
		<div class="t-r"></div><div class="b-r"></div>
	
		<div class="wrap">
			{% include 'photos/_galleries-block.html' %}
		</div>
	</div>
	
	<div class="tpl-photo-archive corners">
		<div class="t-r"></div><div class="b-r"></div>
		
		<div class="wrap">
			{% include 'photos/_archive-block.html' %}
		</div>
	</div>
	
	<div class="tpl-content">
		<ul class="tpl-photos">
			<h1>Фото от наших мамочек</h1>
			
			{% if month %}
				<h3>
					архив {{ month|date:"F Y"|ru_months }}
					<a href="/photos">все фото</a>
				</h3>
			{% else %}
				{% if gallery %}
					<h3>
						{{ gallery.title }}
						<a href="/photos">все фото</a>
					</h3>
				{% endif %}
			{% endif %}
			
			<br/>
			
			{% if object_list %}
				{% include 'photos/_photos.html' %}
			{% else %}
			
				{% if date_list %}
					<h3 style="color: red">Нет изображений за указанную дату</h3>
				{% else %}
					<h3 style="color: red">К сожалению эта категория пуста</h3>
				{% endif %}
				
			{% endif %}
		</ul>
		
		{% if page_obj.has_other_pages %}
			<div class="pages">{% pages paginator page_obj request.path %}</div>
		{% endif %}
	</div>
	
	<div class="tpl-full-archive jqmWindow">
		{% full_archive "/photos" %}
	</div>
{% endblock %}
