{% load banners %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}МАМОЧКА - информационный портал для любящих родителей{% endblock %}</title>

		<link rel="stylesheet" type="text/css" media="screen" href="{{ media_url }}/css/style.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ media_url }}/css/jquery.tooltip.css" />
		<link rel="stylesheet" type="text/css" media="print" href="{{ media_url }}/css/print.css" />
		<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" media="screen" href="{{ media_url }}/css/ie6.css" />
		<![endif]-->
		{% block css %}{% endblock %}

		<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="{{ media_url }}/js/lib/livequery.js"></script>
		{% block js %}{% endblock %}
	</head>

	<body>
		<div class="tpl-header">
			<ul class="tpl-login-bar">
				{% if request.user.id %}
					<li><a href="{% url profile %}" class="tpl-login-bar-profile">
						{{ request.user.username }}
						
						{% if request.user.get_profile.avatar %}
							<img src="{{ request.user.get_profile.avatar.url }}?{{ "abcdef1234"|make_list|random }}" alt="avatar" />
						{% endif %}
					</a></li>
					
					<li><a href="{% url profile %}">Настройки</a></li>
					<li><a href="{% url logout %}">Выход</a></li>
				{% else %}
					<li><a href="{% url register %}" style="font-size: 1.2em">Тут регистрация</a></li>
					<li><a href="{% url login %}">Войти</a></li>
				{% endif %}
			</ul>

			<h1 class="logo">
				<a href="/">Мамочка</a>
			</h1>
			
			<div class="banner-468x120">{% banner '468x120' request.META.REMOTE_ADDR %}</div>
			
			<ul class="common-navigation">
				<li><a href="/pressroom/articles">Статьи</a></li>
				<li><a href="/photos">Фото</a></li>
				<li><a href="/video">Видео</a></li>
				<li><a href="/shop">Магазин</a></li>
				<li><a href="/bulletins">Объявления</a></li>
				<li><a href="/forum">Форум</a></li>
				<li><a href="{% url magazine-volumes %}">Журнал</a></li>
				<li><a href="{% url school %}">Школа</a></li>
			</ul>

			<ul class="section-navigation"></ul>

			<div class="cloud-1"></div>
			<div class="cloud-2"></div>
			<div class="cloud-3"></div>
			<div class="cloud-4"></div>
		</div>

		<div class="tpl-wrap">
			<div class="banner-160x600">{% banner '160x600' request.META.REMOTE_ADDR %}</div>
			
			<div class="tpl-column-right">
				{% block column_right %}{% endblock %}
				
				{% if 0 %}
					<div class="banner-240x120">{% banner '240x120' request.META.REMOTE_ADDR %}</div>
					<div class="banner-240x120">{% banner '240x120' request.META.REMOTE_ADDR %}</div>
					<div class="banner-240x120">{% banner '240x120' request.META.REMOTE_ADDR %}</div>
				{% endif %}
			</div>
			
			<div class="tpl-content">
				{% block content %}{% endblock %}
			</div>

			<div class="clear"></div>

			{% block content_bottom %}{% endblock %}
		</div>

		<div class="tpl-footer">
			<ul>
				<li>
					<div class="title">О нас</div>
					<ul>
						<li><a href="{% url who-we-r %}">Кто мы</a></li>
						<li><a href="{% url contacts %}">Контактная информация</a></li>
						<li><a href="{% url advert %}">Реклама на сайте</a></li>
					</ul>
				</li>

				<li>
					<div class="title">Помощь</div>
					<ul>
						<li><a href="{% url recover-help %}">Восстановление пароля</a></li>
						<li><a href="{% url use-help %}">Использование ресурса</a></li>
					</ul>
				</li>

				<li>
					<div class="title">Соглашения</div>
					<ul>
						<li><a href="{% url use-rules %}">Правила пользования</a></li>
						<li><a href="{% url admin %}">Права администрации</a></li>
					</ul>
				</li>
			</ul>
			<div class="cloud-5"></div>
			<div class="guy"></div>
		</div>
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-11215648-1");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>
