{% load dates %}

<div class="tpl-comments" style="clear: right; {% if object.photos.all %}
	{% ifnotequal object.photos.all.count 1 %}
		padding-left: 180px;
	{% endifnotequal %}
{% endif %}">

	<h2>Комментарии</h2>
	
	<ul>
		{% if comments %}
			{% include 'common/_comments-core.html' %}
		{% else %}
			<li class="empty-msg">Комментариев пока нет</div>
		{% endif %}
	</ul>
	
	{% if request.user.id %}
		<form id="comment-form" action="/comment/{{ entry_type }}/{{ entry_id }}" style="{% if object.photos.all %}
			{% ifnotequal object.photos.all.count 1 %}{% if not comments %}
				margin-left: 230px;
			{% endif %}{% endifnotequal %}
		{% endif %}">
		
			<div>
				<label for="comment">Оставить свой комментарий</label>
				<textarea class="text" name="comment"></textarea>
				<span class="error">{{ form.errors.username.as_text|safe|cut:"*" }}</span>
			</div>
			
			<input type="submit" value="Оставить" />
			<img class="ajax-load" src="{{ media_url }}/images/ajax-loader.gif" />
		</form>
	{% else %}
		Чтобы оставить свой комментарий <a href="/user/register">зарегистрируйтесь</a> или
		<a href="/user/login?next={{ request.path }}">скажите кто вы</a>.
	{% endif %}
</div>
