{% extends 'base.html' %}

{% load bulletins %}
{% load blocks %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ media_url }}/css/pages/profile.css" />
{% endblock %}

{% block content %}
	<div class="tpl-board corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Объявления пользователей</h2>
			{% last_bulletins 5 %}
	
			<a class="section-link" href="/bulletins">Все объявления →</a>
		</div>
	</div>
	
	<h1>Регистрация завершена</h1>
	
	<p style="margin-left: 40px; width: 60%; height: 280px;">
		Для активации вашей учетной записи перейдите по ссылке из письма, которое мы отправили
		вам на ящик {{ email }}.
	</p>
{% endblock %}

