{% extends 'base.html' %}

{% load bulletins %}
{% load photos %}
{% load blocks %}

{% block content %}
<div class="tpl-other-articles corners">
	<div class="t-r"></div><div class="b-r"></div>
	
	<div class="wrap">
		<h2>Последние статьи</h2>
		<ul>{% last_articles 5 0 %}</ul><br/>
	
		<a class="section-link" href="/pressroom/articles">Все статьи →</a>
	</div>
</div>

<div class="tpl-news">
	<h1>Новости от Мамочек</h1><br/>
	<ul>
		{% last_articles 5 1 %}
		<li><a href="/pressroom/news">Все новости →</a></li>
	</ul>
</div>

<h3>Наши мамочки <a href="#">фотографируют</a>, <a href="#">снимают видео</a> и <a href="#">общаются</a></h3>
<div class="tpl-gallery">
	{% random_photos 7 %}
</div>

<div class="tpl-board corners">
	<div class="t-r"></div><div class="b-r"></div>

	<div class="wrap">
		<h2>Объявления пользователей</h2>
		{% bulletins 5 %}
	
		<a class="section-link" href="#">Все объявления →</a>
	</div>
</div>

<div class="tpl-article">
	<h1>Журнал "Мамочкам"</h1>
	<p>
		Прямое восхождение отражает сложный принцип восприятия, что отмечают такие
		крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Мышление, на первый
		взгляд, фундаментально дает ионный хвост, в частности, "тюремные психозы",
		индуцируемые при различных психопатологических типологиях. Движение,
		несмотря на внешние воздействия, подрывает социальный Юпитер, ломая рамки привычных
		представлений. Сознание, по определению, неустойчиво транспонирует спектральный класс,
		тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется.
	</p>
</div>
{% endblock %}
