{% extends 'base.html' %}

{% load banners %}
{% load blocks %}
{% load bulletins %}
{% load photos %}
{% load video %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jqModal.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.tooltip.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/photos.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/portal.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			Photos.plugins();
			Portal.bindEvents();
		})
	</script>
{% endblock %}

{% block column_right %}
	<div class="tpl-other-articles corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Что новенького?</h2>
			<ul>{% last_articles 5 0 %}</ul><br/>

			<a class="section-link" href="/pressroom/articles">Все статьи →</a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="tpl-news">
		<h1>Новости от Мамочек</h1>

		<ul>
			{% last_articles 7 1 %}
			<li><a href="/pressroom/news">Все новости →</a></li>
		</ul>
	</div>
{% endblock %}

{% block content_bottom %}

<h3>
	Наши мамочки
	<a id="show-photos" href="#" class="selected-link">фотографируют</a>,
	<a id="show-video" href="#">смотрят видео</a> и
	<a id="show-forum" href="#">общаются</a>
</h3>

<div class="tpl-gallery">
	<div id="photos" class="digest" style="display: block">
		{% random_photos 7 %}
	</div>

	<div id="video" class="digest">
		{% random_video 7 %}
	</div>

	<div id="forum" class="digest">
		{% last_messages 3 %}
	</div>
</div>

<div class="tpl-column-right">
	<div class="tpl-board corners">
		<div class="t-r"></div><div class="b-r"></div>

		<div class="wrap">
			<h2>Объявления пользователей</h2>
			{% last_bulletins 5 %}

			<a class="section-link" href="/bulletins">Все объявления →</a>
		</div>
	</div>
</div>

<div class="tpl-article">
	<h1>Дорогие друзья!</h1>
	<p>Рады  вас приветствовать на информационном портале корпорации "МАМОЧКА".</p>
	
	<ul class="directions">
		<li><b>Семейный журнал</b></li>
		<li><b>Школа семьи</b></li>
		<li><b>Интернет-магазин</b></li>
		<li><b>Видеостудия</b></li>
	</ul>
	
	<p>И это  лишь часть направлений нашего проекта, цель которого – дать
	мамам и папам все необходимые знания, чтобы вырастить здорового,
	развитого и счастливого малыша!</p>
	
	<p>Все, что  вы увидите под брендом "МАМОЧКА", прошло строгую проверку лучшими
	специалистами, счастливыми семьями и любящими родителями. </p>
</div>
{% endblock %}
