{% extends 'base.html' %}
{% load articles_last %}

{% block content %}
<div class="tpl-other-articles corners">
	<div class="t-r"></div><div class="b-r"></div>
	
	<div class="wrap">
		<h2><a>Статьи</a></h2>

		<ul>
			<li>
				<div class="title"><a href="">Название статьи</a></div>
				<div><span class="date">13 ноября 2009</span></div>
				<div class="description"><p>Краткое описание</p></div>
			</li>
			
			<li>
				<div class="title"><a href="">Название статьи</a></div>
				<div><span class="date">13 ноября 2009</span></div>
				<div class="description"><p>Краткое описание</p></div>
			</li>
			
			<li>
				<div class="title"><a href="">Название статьи</a></div>
				<div><span class="date">13 ноября 2009</span></div>
				<div class="description"><p>Краткое описание</p></div>
			</li>
			
			<li>
				<div class="title"><a href="">Название статьи</a></div>
				<div><span class="date">13 ноября 2009</span></div>
				<div class="description"><p>Краткое описание</p></div>
			</li>
		</ul>
	</div>
</div>

<div class="tpl-news">
	<ul>
		<li>
			<div class="title"><a href="">Формирование самооценки у детей</a></div>
			<div><span class="date">13 ноября 2009</span></div>
		</li>
		
		<li>
			<div class="title"><a href="">В ответе за любовь к своему ребенку</a></div>
			<div><span class="date">13 ноября 2009</span></div>
		</li>
		
		<li>
			<div class="title">
				<a href="">Любить, нельзя потворствовать! или как вырастить психологически здорового ребенка </a>
			</div>
			
			<div><span class="date">13 ноября 2009</span></div>
		</li>
	</ul>
</div>

<div class="tpl-gallery">1</div>
	<div class="tpl-board corners">
	<div class="t-r"></div><div class="b-r"></div>
	<div class="wrap">
		<ul>
			<li>
				<div class="title"><a href="">Какой-то заголовок новости</a></div>
				<div><span class="date">13 ноября 2009</span></div>
			</li>
			
			<li>
				<div class="title"><a href="">Какой-то заголовок новости</a></div>
				<div><span class="date">13 ноября 2009</span></div>
			</li>
			
			<li>
				<div class="title"><a href="">Какой-то заголовок новости</a></div>
				<div><span class="date">13 ноября 2009</span></div>
			</li>
		</ul>
	</div>
</div>

<div class="tpl-article">
	<p>Прямое восхождение отражает сложный принцип восприятия, что отмечают такие крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Мышление, на первый взгляд, фундаментально дает ионный хвост, в частности, "тюремные психозы", индуцируемые при различных психопатологических типологиях. Движение, несмотря на внешние воздействия, подрывает социальный Юпитер, ломая рамки привычных представлений. Сознание, по определению, неустойчиво транспонирует спектральный класс, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется.</p>
</div>
{% endblock %}
